@import url(./_centered/table__product_centered.css);
@import url(./_align-start/table__product_align-start.css);

.table__product {
    border: 1px solid #000;
    padding: 0 10px 0 10px;
    text-align: end;
}
